/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
 .timer {
   display: flex;
 }

 .field {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-right: 10px;
 }

 .value {
   font-size: xx-large;
 }